*{
    margin:0px;
    padding:0px;
}

body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}


div{
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.79);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.79);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.79);
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.titre{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    font-size:25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(270deg, rgb(0, 0, 0) 20%, rgb(122, 122, 122) 100%);
    background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 20%, rgb(122, 122, 122) 100%);
    background: -o-linear-gradient(270deg, rgb(0, 0, 0) 20%, rgb(122, 122, 122) 100%);
    background: -ms-linear-gradient(270deg, rgb(0, 0, 0) 20%, rgb(122, 122, 122) 100%);
    background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgb(122, 122, 122) 100%);
}

.bleu{
    width: 100%;
    height: 10px;
    color: rgb(6, 107, 163); 
    background: rgb(6, 107, 163);
    background: -moz-linear-gradient(270deg, rgb(6, 107, 163) 29%, rgb(43, 159, 209) 92%);
    background: -webkit-linear-gradient(270deg, rgb(6, 107, 163) 29%, rgb(43, 159, 209) 92%);
    background: -o-linear-gradient(270deg, rgb(6, 107, 163) 29%, rgb(43, 159, 209) 92%);
    background: -ms-linear-gradient(270deg, rgb(6, 107, 163) 29%, rgb(43, 159, 209) 92%);
    background: linear-gradient(0deg, rgb(6, 107, 163) 29%, rgb(43, 159, 209) 92%);
}

#contenu{
    position: absolute;
    margin: 1%;
    text-shadow:1px 1px 1px #fff;
    width: 98%;
}

ul { 
	background-color: rgb(236,236,236);
	list-style-type: none; 
	height: 21px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(223,223,223);
} 

.menu li{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(229,229,229);
    background-color: rgb(236,236,236); 
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right:-2px;
    margin-top:-2px;
}

.menu a{
    color:rgb(0,95,153);
    position: absolute;
}

a.voirsite{
    right:115px;
}

a.voirsite img, a.deco img{
    margin-right: 5px;
}

a.deco{
    right: 10px;
}

.interieur{
    background-color: rgb(236,236,236);
    margin:10px;
    padding: 10px;
}

#quickIcon{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px; 
    height:465px;
    width: 770px;
    background-color: white;
    margin-top: -2px;
}

#quickIcon li{
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
    background-color: white;
    width: 140px;
    height: 140px;
    text-align: center;
}

#quickIcon li img{
    margin:20px;
    width: 58%;
}

#LQuickIcon{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 760px;
    padding-left: 10px;
    cursor: pointer;
}
