#LQuickIcon{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 47.5%;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top:107px;
}

#quickIcon{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px; 
    height:465px;
    width: 47.5%; /*770px*/
    background-color: white;
    margin-top: -2px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top:127px;
    
}

#quickIcon li{
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
    background-color: white;
    width: 140px;
    height: 140px;
    text-align: center;
}

#quickIcon li img{
    margin:20px;
    width: 58%;
}

#Luser{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 47.5%;
    padding-left: 10px;
    cursor: pointer;
}

#user{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px; 
    width: 47.5%;
    background-color: white;
    margin-top: -2px;
    padding-left: 5px;
    padding-right: 5px;    
    height: auto;
}

#Lajoute{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 47.5%;
    padding-left: 10px;
    cursor: pointer;
}

#ajoute{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px; 
    width: 47.5%;
    background-color: white;
    margin-top: -2px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;    
}

#Lconsulte{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 47.5%;
    padding-left: 10px;
    cursor: pointer;
}

#consulte{
    border-color: rgb(229,229,229);
    border-style: solid;
    border-width: 2px; 
    width: 47.5%;
    background-color: white;
    margin-top: -2px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;    
}

dl{
    position: relative;
    left: 51%;
}