*{
    margin:0px;
    padding:0px;
}

body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}


div{
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.79);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.79);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.79);
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#contenu{
    position: absolute;
    margin: 1%;
    text-shadow:1px 1px 1px #fff;
    width: 98%;
}

.entete h1{
    position: absolute;
    margin-top: -48px;
    margin-left: 55px;

}

.entete img{
    width: 58px;
    height: 50px;
    margin: 2px;
    margin-top: 5px;
}

.texte{
    width:95%;
    margin: auto;
}

fieldset{
    margin :10px;
    padding: 5px;
    border-radius: 5px;
}

legend{
    color:rgb(0,95,153);
    font-size: 15px;
}

.interieur{
    background-color: rgb(236,236,236);
    margin:10px;
    padding: 10px;
}