<div class="body equipe">
  <div>
    <span> Tournoi </span>
    <table >
      {foreach from=$Tournoi item=tour}
      <tr>
	<td><a href="index.php?page=tournois&v1=lire_tourn&v2={$tour.Id}"> {$tour.Nom}</a> - {$tour.DateDebut} / {$tour.DateFin} </td>
      </tr>
      <tr> 
	<td> {$tour.Description} </td>
      </tr>
      {/foreach}
    </table>
    <table>
      {foreach from=$Match item=match}
      <tr>
	<td> <a href="index.php?page=match&id={$match.Id}">{$match.name1} vs {$match.name2} ||| {$match.date} </a></td>
      </tr>
      <tr>
	<td>Description: {$match.comm} </td>
      </tr>

      {/foreach}
    </table>
    {if $NSimple.one == 1}
    <canvas id="arbre" width="900" height="500"></canvas>
    <script src="js/BinaryTree.js"></script>
    {/if}
  </div>
