
			<div class="body news">
				<div>
					<span>News</span>
					<ul>
  						{foreach from=$News item=news}
						<li>
							<a href="index.php?page=news&v1=lire_news&v2={$news.Id}"><img src="images/news1.jpg" alt=""></a>
							<div>
								<h3><a href="index.php?page=news&v1=lire_news&v2={$news.Id}">{$news.titre}</a></h3>
								<span>{$news.date}</span>
								<p>
									{$news.contenu}
								</p>
								<a href="news_simple.html">Read More</a>
							</div>
						</li>
						{/foreach}
					</ul>
				</div>
				