

            <form action="index.php?page=connexion" method="post" onsubmit = "return verif_form_connexion(this)">
                <div id="connexion_menu">
                    <td>
                        <tr>
                            <h3>Pseudo : </h3>
                            <td><input type="text" id="nickname" name="pseudo"></td>
                        </tr>
                        <tr>
                            <h3>Mot de passe : </h3>
                            <td><input type="password" id="position" name="password"></td>
                        </tr>
                    </td>
                    <br>
                    <input type="submit" value="CONNEXION" id="application-submit">
                    <br>
                    <input type="button" value="S'INSCRIRE" onclick="document.location.href='index.php?page=inscription'">
                </div>

            </form>
