<div class="body calendrier">
  <div>    
    <span> Inscription </span>
    <form action="index.html">
	<table>
	  <tr>
	    <td><label for="pseudo">Pseudo:</label></td>
	    <td><input type="text" id="nickname"></td>
	  </tr>
	  <tr>
	    <td><label for="email">Mot de passe :</label></td>
	    <td><input type="text" id="email"></td>
	  </tr>
	  <tr>
	    <td><label for="email">Confirmation de mot de passe :</label></td>
	    <td><input type="text" id="email"></td>
	  </tr>
	</table>
	<input type="submit" value="Inscription" id="application-submit">
    </form>
</div>
