<form method="post" action="index.php?page=connexion&action=verif">
	<table class="partie" align="center">
		<tr>
			<th colspan="2"><img src="templates/Rouge/images/gauche.png"/><span>CONNEXION</span><img src="templates/Rouge/images/droite.png"/></th>
		</tr>
		<tr>
			<th class="nomcase">Identifiant : </th><td><input type="text" name="pseudo"/></td>
		</tr>
		<tr>
			<th class="nomcase">Mot de passe : </th><td><input type="password" name="password"/></td>
		</tr>
		<tr>
			<th colspan="2"><input type="submit" value="ok"/></th>
		</tr>
	</table>
</form>
