<table class="partie" align="center">
  <tr>
    <th id="matchs"><img src="templates/Rouge/images/gauche.png"/><span>EQUIPES</span><img src="templates/Rouge/images/droite.png"/></th>
  </tr>
  {foreach from=$Teams item=team}
  <tr>
    <th>
      <a href="index.php?page=membre_equipe&id={$team.Id}"> <img src="{$team.img}" alt=""  width="150"/><br>{$team.Nom} </a>
    </th>
  </tr>
  {/foreach}
</table>
Page<br>
{foreach from=$Page item=elem}
<a href="index.php?page=equipes&num={$elem}">{$elem}</a>
{/foreach}
