<table align="center">
    <tr>
        <th>Tournoi</th>
    </tr>
    {foreach from=$Tournoi item=tour}
    <tr>
      <td><a href="index.php?page=tournois&v1=lire_tourn&v2={$tour.Id}"> {$tour.Nom}</a> - {$tour.DateDebut} / {$tour.DateFin} <a href="php/export_pdf.php?action=tournoi&id={$tour.Id}" target="_blank">Exporter</a></td>
    </tr>
    <tr> 
      <td> {$tour.Description} </td>
    </tr>
    {/foreach}
</table>
<table align="center">
  {foreach from=$Match item=match}
  <tr>
    <td align="center"> <a href="index.php?page=match">{$match.name1} vs {$match.name2} ||| {$match.date} <a href="php/export_pdf.php?action=match&id={$match.Id}" target="_blank">Exporter</a></a></td>
  </tr>
    <tr>
      <td>Description: {$match.comm} </td>
    </tr>

  {/foreach}
</table>
{if $NSimple.one == 1}
<canvas id="arbre" width="900" height="500"></canvas>
<script src="js/BinaryTree.js"></script>

{/if}
