
/*------------------------- Fonts ---------------------------*/
@font-face {
	font-family: 'bevanregular';
	src: url('../fonts/bevan-webfont.eot');
	src: url('../fonts/bevan-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/bevan-webfont.woff') format('woff'),  url('../fonts/bevan-webfont.ttf') format('truetype'),  url('../fonts/bevan-webfont.svg#bevanregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	background:url(../images/bg-body.png) repeat-x left top #003155;
	font-family:Arial, Helvetica, sans-serif;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.background {
	background:url(../images/bg-background.jpg) no-repeat center top;
}
.page {
	width:960px;
	margin:0 auto;
	padding:97px 0 35px;
}
