<table align="center">
  <tr>
    <th>CALENDRIER</th>
  </tr>
  {foreach from=$Events item=event}
  <tr>
    <td><a href="index.php?page=calendrier&v1=lire_event&v2={$event.Id}">{$event.titre} - {$event.location}</a> - <i>{$event.date}</i></td>
  </tr>
  <tr>
    <td>{$event.contenu}</td>
  </tr>
  {/foreach}
</table>
<table align="center">
  {foreach from=$Com item=com}
  <tr>
    <td><u>{$com.utilisateur}</u> - <i>{$com.date}</td>
  </tr>
  <tr>
    <td>{$com.contenu}</td>
  </tr>
  {/foreach}
</table>
{if $NSimple.one == 1}
{if $NSimple.connected == 1}
<table align="center">
  <tr>
    <th><form action="index.php?page=calendrier&v1=lire_event&v2={$NSimple.Id}&news_com=true" method="post" >
	<textarea name="message" id="message" cols="30" rows="10" ></textarea><br/>
	<input type="hidden" name="id_cal" value="{$NSimple.Id}" />
	<input type="submit" value="Commenter"/>
      </form>
    </th>
  </tr>
</table>
{else}
<span> Vous devez être connecté pour poster un commentaire. <a href="index.php?page=connexion">Se connecter</a></span><br>

{/if}
{/if}

