<form method="post" action="index.php?page=inscription&action=insert">
	<table class="partie" align="center">
		<tr>
			<th colspan="2"><img src="templates/debug/images/gauche.png"/><span>INSCRIPTION</span><img src="templates/debug/images/droite.png"/></th>
		</tr>
		<tr>
			<th class="nomcase">Identifiant : </th><td><input type="text" name="pseudo"/></td>
		</tr>
		<tr>
			<th class="nomcase">Mail : </th><td><input type="text" name="email"/></td>
		</tr>
		<tr>
			<th class="nomcase">Mot de passe : </th><td><input type="password" name="password"/></td>
		</tr>
		<tr>
			<th class="nomcase">Verification : </th><td><input type="password" name="password_verif"/></td>
		</tr>
		<tr>
			<th colspan="2"><input type="submit" value="Ok"/></th>
		</tr>
	</table>
</form>