{if $Modif == "pseudo"}
<form method="post" action="index.php?page=profil&v1=modif_pseudo&v2=true">
  <table class="partie" align="center">
    <tr>
      <th colspan="2"><h1>Modification du pseudo</h1></th>
    </tr>
    <tr>
      <th class="nomcase">Pseudo : </th><td><input type="text" name="pseudo"/></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="Modifier"/></th>
    </tr>
  </table>
</form>
{/if}

{if $Modif == "password"}
<form method="post" action="index.php?page=profil&v1=modif_password&v2=true">
  <table class="partie" align="center">
    <tr>
      <th colspan="2"><h1>Modification du mot de passe</h1></th>
    </tr>
    <tr>
      <th class="nomcase">Ancien mot de passe : </th>
      <td><input type="password" name="ancien_password"/></td>
    </tr>
    <tr>
      <th class="nomcase">Mot de passe : </th>
      <td><input type="password" name="password"/></td>
    </tr>
    <tr>
      <th class="nomcase">Vérification : </th>
      <td><input type="password" name="verif_password"/></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="Modifier"/></th>
    </tr>
  </table>
</form>
{/if}

{if $Modif == "mail"}
<form method="post" action="index.php?page=profil&v1=modif_mail&v2=true">
  <table class="partie" align="center">
    <tr>
      <th colspan="2"><h1>Modification du mail</h1></th>
    </tr>
    <tr>
      <th class="nomcase">Nouveau mail : </th>
      <td><input type="email" name="mail"/></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="Modifier"/></th>
    </tr>
  </table>
</form>
{/if}

{if $Modif == "photo"}
<form method="post" action="index.php?page=profil&v1=modif_photo&v2=true" enctype="multipart/form-data">
  <input type="hidden" name="MAX_FILE_SIZE" value="2097152">
  <table class="partie" align="center">
    <tr>
      <th colspan="2"><h1>Modification de la photo</h1></th>
    </tr>
    <tr>
      <th class="nomcase">Parcourir : </th>
      <td><input type="file" name="photo"/></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="Modifier"/></th>
    </tr>
  </table>
</form>
{/if}
