<html>
  <header>
    <title>{$Name}</title>
    {foreach from=$Style item=style}
    <link rel="stylesheet" href="{$style}" type="text/css">
    {/foreach}
  </header>
  <body>
    <h1 align="center">{$Name}</h1>
    <table align="center">
      <tr>
	{foreach from=$Header item=menu}
	<td><a href="{$menu.url}">{$menu.title}</a></td>
	{/foreach}
      </tr>
    </table>
    {$Content}
    <table align="center">
      <h1> ASIDE </h1>
      <tr>
	{foreach from=$AsideNews item=it}
	<td>{$it.titre} |</td>
	{/foreach}
      </tr>
      <tr>
	{foreach from=$AsideCal item=it}
	<td>{$it.titre}|</td>
	{/foreach}
      </tr>
  </body>
</html>
