<html>
  <header>
    <title>{$Name}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {foreach from=$Style item=style}
    <link rel="stylesheet" href="{$style}" type="text/css">
    {/foreach}
  </header>
  <body>
    <h1 align="center">{$Name}</h1>
    <table align="center">
      <tr>
	{foreach from=$Header item=menu}
	<td><a href="{$menu.url}">{$menu.title}</a></td>
	{/foreach}
      </tr>
    </table>
    {$Content}
    <table align="center" class="aside">
        <tr>
            <th>LAST NEWS</th>
        </tr>
        {foreach from=$AsideNews item=it}
        <tr>
	        <td>{$it.titre}</td>
        </tr>
        {/foreach}
        <tr>
            <th>LAST EVENTS</th>
        </tr>
        {foreach from=$AsideCal item=it}
        <tr>
	        <td>{$it.titre}</td>
        </tr>
        {/foreach}
    </table>
  </body>
</html>
