<table align="center">
    <tr>
        <th>NEWS</th>
    </tr>
    {foreach from=$News item=news}
    <tr>
        <td><a href="index.php?page=news&v1=lire_news&v2={$news.Id}"><u>{$news.titre}</u></a> - <i>{$news.date}</i></td>
    </tr>
    <tr>
        <td>{$news.contenu}</td>
    </tr>
    {/foreach}
</table>

<table align="center">
    <tr>
        <th>CALENDRIER</th>
    </tr>
    {foreach from=$Events item=event}
    <tr>
        <td><a href="index.php?page=calendrier&v1=lire_event&v2={$event.Id}"><u>{$event.titre} - {$event.location}</u></a> - <i>{$event.date}</i></td>
    </tr>
    <tr>
        <td>{$event.contenu}</td>
    </tr>
    {/foreach}
</table>
