<table align="center">
    <tr>
        <th colspan="3">Match</th>
    </tr>

    {foreach from=$Matchs item=match}
    <tr>
        <td><u>{$match.name_team1}  -  {$match.name_team2}</u></td>
        <td style="text-align: center;">{$match.nbPoint1} - {$match.nbPoint2}</td>
        <td>{$match.DateMATCHS} - <a href="php/export_pdf.php?action=match&id={$match.Id}" target="_blank">Exporter</a></td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: lightslategrey;">{$match.Commentaires}></td>
    </tr>

    {/foreach}
</table>
