<table align="center">
    <tr>
        <th colspan="2">NEWS</th>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td><img src="{$Photo}"/></td></tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><a href="index.php?page=news&action=read_news&id_news={$News.Id}"><u>{$News.titre}</u></a> - <i>{$News.date}</i></td>
                </tr>
                <tr>
                    <td>{$News.contenu}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table align="center">
    <tr>
        <th>COMMENTAIRES</th>
    </tr>
    {foreach from=$Coms item=com}
    <tr>
        <td><u>{$com.utilisateur}</u></a> - <i>{$com.date}</td>
    </tr>
    <tr>
        <td>{$com.contenu}</td>
    </tr>
    {/foreach}
</table>

{if $User_connected == "true"}
<table align="center">
    <tr>
        <th><form action="index.php?page=news&action=read_news&id_news={$News.Id}&add_news_com=true" method="post" >
            <textarea id="editor1" name="message" rows="10" cols="80"></textarea>
            {literal}<script>CKEDITOR.replace( 'editor1', {
            extraPlugins: 'bbcode',
            toolbar: [
                [ 'Undo', 'Redo' ],
                [ 'Bold', 'Italic', 'Underline' ],
                [ 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat' ],
                [ 'Link', 'Unlink']
            ]
        } );</script>{/literal}
            <input type="hidden" name="id_news" value="{$News.Id}" />
            <input type="submit" value="Commenter"/>
        </form>
        </th>
    </tr>
</table>
{else}
<table align="center">
    <tr>
        <td style="text-align: center;">Vous devez être connecté pour poster un commentaire. <a href="index.php?page=connexion">Se connecter</a></td>
    </tr>
</table>
{/if}