body {
    background-color: grey;
}

table {
    margin-top: 10px;
    width: 75%;
    border: 2px solid blue;
}

th {
    background-color: black;
    color : white;
}

td {
    background-color: white;
    color : black;
}

.aside {
    width: 12%;
    position: absolute;
    margin-left: 0px;
    top: 10%;
}