body {
    background-color: #CCCCCC;
}

table {
    margin-top: 10px;
    width: 75%;
    border: 1px solid blue;
}

th {
    background-color: #7470E3;
}

td {
    background-color: #9493AC;
}

.aside {
    width: 12%;
    position: absolute;
    margin-left: 0px;
    top: 10%;
}