<table align="center">
    <tr>
        <th>NEWS</th>
    </tr>
    {foreach from=$News item=news}
    <tr>
        <td><u>{$news.titre}</u> - <i>{$news.date}</i></td>
    </tr>
    <tr>
        <td>{$news.contenu}</td>
    </tr>
    {/foreach}
</table>

<table align="center">
    <tr>
        <th>CALENDRIER</th>
    </tr>
    {foreach from=$Events item=event}
    <tr>
        <th><u>{$event.titre} - {$event.location}</u> - <i>{$event.date}</i></th>
    </tr>
    <tr>
        <td>{$event.contenu}</td>
    </tr>
    {/foreach}
</table>