<form method="post" action="index.php?page=inscription&action=insert">
<table align="center">
    <tr>
        <th colspan="2">INSCRIPTION</th>
    </tr>
    <tr>
        <td>Pseudo :</td><td><input type="text" name="pseudo"/></td>
    </tr>
    <tr>
        <td>Mail :</td><td><input type="text" name="email"/></td>
    </tr>
    <tr>
        <td>Mdp :</td><td><input type="password" name="password"/></td>
    </tr>
    <tr>
        <td>Verif :</td><td><input type="password" name="password_verif"/></td>
    </tr>
    <tr>
        <th colspan="2"><input type="submit" value="Ok"/></th>
    </tr>
</table>
</form>