<table align="center">
    <tr>
        <th>NEWS</th>
    </tr>
    {foreach from=$News item=news}
    <tr>
            <td><a href="index.php?page=news&v1=lire_news&v2={$news.Id}"><u>{$news.titre}</u></a> - <i>{$news.date}</i></td>
    </tr>
    <tr>
            <td>{$news.contenu}</td>
    </tr>
    {/foreach}
</table>
<table align="center">
    {foreach from=$Com item=com}
    <tr>
            <td><u>{$com.utilisateur}</u></a> - <i>{$com.date}</td>
    </tr>
    <tr>
            <td>{$com.contenu}</td>
    </tr>
    {/foreach}


</table>
